.progress {
  height: 23px !important;
}

.progress-bar .progress-bar-striped {
  background-color: #007bff !important;
}

#saveButton {
  background-color: #007bff !important;
}

#resetButton {
  background-color: #dc3545 !important;
}

.checkbox label,
.radio label {
  padding-left: 30px !important;
}

.form-control {
  font-size: 1rem !important;
}

.btn-default {
  color: #335075 !important;
  background-color: #eaebed !important;
  border-color: #dcdee1 !important;
}

p {
  margin: 0 0 11.5px !important;
}

.col-md-2 {
  width: 16.6666666667% !important;
}

.col-md-10 {
  width: 83.3333333333% !important;
}
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
  float: left !important;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
  line-height: 1.4375 !important;
  color: #333 !important;
  background-color: #fff !important;
}

h4 {
  border-bottom: 1px solid #21737c;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(44, 153, 164);
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 0.2em;
}

.btn-default:visited {
  color: #335075 !important;
}
a:not([href='#']):visited {
  color: #7834bc !important;
}
.nav a,
a.btn {
  text-decoration: none !important;
}

.btn-default {
  color: #335075 !important;
  background-color: #eaebed !important;
  border-color: #dcdee1 !important;
}

.btn-default:visited {
  color: #335075 !important;
}

.btn-default:hover {
  color: #335075 !important;
  background-color: #cfd1d5 !important;
  border-color: #bbbfc5 !important;
}
.btn.focus,
.btn:focus,
.btn:hover {
  color: #335075 !important;
  text-decoration: none !important;
}

.btn {
  font-family: Open-sans, sans-serif !important;
  border-style: outset !important;
  height: auto !important;
  min-height: 36px !important;
  min-width: 36px !important;
  white-space: normal !important;
  margin-bottom: 0 !important;
  font-weight: 400 !important;
  text-align: center !important;
  vertical-align: middle !important;
  -ms-touch-action: manipulation !important;
  touch-action: manipulation !important;
  cursor: pointer !important;
  background-image: none !important;
  border: 1px solid transparent !important;
  padding: 10px 14px !important;
  font-size: 16px !important;
  line-height: 1.4375 !important;
  border-radius: 4px !important;
  background-color: rgb(24, 166, 137) !important;
}

.progress-bar {
  margin: 0 !important;
}

.panel-footer {
  display: none !important;
}

input:disabled {
  background-color: #9e9e9e !important;
  pointer-events: none;
}
