html {
    background-color: #252525;
  }
  
.section-header {
    border-bottom: 1px solid #21737c;
        border-bottom-color: rgb(33, 115, 124);
        border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(44, 153, 164);
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 0.2em;
}

main h1, main h2, main .h1, main .h2 {
    margin-top: 23px !important;
    margin-bottom: 11.5px !important;
  }

main h1, main .h1 {
    font-size: 1.9em !important;
    font-weight: 600 !important;
    line-height: 1.1 !important;
}

.banner {
    padding-top: .5rem;
}

.banner .company-logo {
    max-width: 191px;
}

.banner img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner .logo {
    max-width: 515.297px;
    margin-bottom: -3.124px;
}

.banner .logo-border {
    max-width: 540.703px;
}

.copyright-footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #252525;
}

.copyright {
    font-size: 12px;
    height: 100%;
    width: 100%;
    color: #777;
}