.modal-login {
  width: 500px !important;
}

.modal-login .modal-body {
  padding-left: 1em;
  padding-right: 1em;
}

.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}

.modal-login h4 {
  text-align: center;
  font-size: 26px;
}

.modal-login .form-group {
  position: relative;
}

.modal-login i {
  position: absolute;
  left: 13px;
  top: 11px;
  font-size: 18px;
}

.modal-login .form-control {
  padding-left: 40px;
}

.modal-login .form-control,
.modal-login .btn {
  min-height: 40px;
  border-radius: 3px;
}

.modal-login .close {
  position: absolute;
  top: -5px;
  right: -5px;
}

.modal-login .modal-footer {
  background: #ecf0f1;
  text-align: center;
  margin: 0 -20px -20px;
  font-size: 13px;
  justify-content: center;
}

.modal-login .modal-footer a {
  color: #999;
}

.create-account {
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.create-account .disabled {
  opacity: 60%;
  display: inline-block;
}

.user-status {
  position: absolute;
  top: 0px;
  right: 150px;
  align-content: center;
}

.user-status .msg {
  float: left;
  margin: 10px 0 15px 0 !important;
}

@media screen and (max-width: 800px) {
  .user-status .msg {
    display: none;
  }
}
