/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.modal-usersettings {
  width: 400px;
}

.modal-usersettings .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.modal-usersettings .modal-header {
  border-bottom: none;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 0px;
}

.modal-usersettings h4 {
  text-align: center;
  font-size: 26px;
}

.modal-usersettings .form-group {
  position: relative;
}

.modal-usersettings .form-control,
.modal-signup .btn {
  min-height: 40px;
  border-radius: 3px;
}

.modal-usersettings .close {
  position: absolute;
  top: -5px;
  right: -5px;
}

.modal-usersettings .modal-footer a {
  color: #999;
}

.modal-usersettings .description {
  padding-bottom: 8px;
}

.usersettings-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.usersettings-dropdown .btn {
  padding: 5px !important;
  margin-top: 5px;
}
