p {
    margin: 0 0 11.5px !important;
}

body {
    font-family: "Open Sans",sans-serif !important;
    font-size: 16px !important;
    line-height: 1.4375 !important;
    color: #333 !important;
    background-color: #fff !important;
}

.btn {
    font-family: Open-sans,sans-serif !important;
    border-style: outset !important;
    height: auto !important;
    min-height: 36px !important;
    min-width: 36px !important;
    white-space: normal !important;
    margin-bottom: 0 !important;
    font-weight: 400 !important;
    text-align: center !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    padding: 10px 14px !important;
    font-size: 16px !important;
    line-height: 1.4375 !important;
    border-radius: 4px !important;
    background-color: rgb(24, 166, 137) !important;
}